body{
    margin: 0;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
    color: #B88B4A;
}

a:hover{
    scale: 2;
    color: #ddca7d;
}

.NavigationBar{
    height: 3.5rem;
    background-color: #533e2d;
    display: flex;
    color: #a1cca5;
    align-items: center;
}

.logo{
    flex:1;
    display: flex;
    color: #B88B4A;
    align-items: center;
    justify-content: center;
}
.buttons{
    flex:10;
    color: #B88B4A;
    text-decoration: none;
    font-weight: bold;
}

.headings{
    margin:3em 0 0 3.5em;
    color: #533e2d;
}

.timeContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1.5rem auto;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24
}

.timeContainer button{
    background-color: #B88B4A;
    color: #242331;
    border: none;
}

.timeContainer button:hover{
    background-color: #533e2d;
    color: #ddca7d;
    border: none;
}

.graphs{
    display:flex;
    margin-top: 3em;
    align-items: center;
    justify-content: space-around;
}

.newUserGraph{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #533e2d;
    border-radius: 20px;
}

.newGraph{
    background-color: aliceblue;
    flex: 3;
}

.activeUserGraph{
    background-color: #533e2d;
    border-radius: 20px;
}

.activeUser{
    min-width: 30rem;
    text-align: center;
    border: 10px solid transparent;
}

.newUser{
    min-width: 30rem;
    text-align: center;
    border: 10px solid transparent;
}

.footer{
    margin-top: 5rem;
    text-align: center;
}